.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.form-control {
  width: 50%;
  padding: 1rem;
  color: black;
  text-align: left;
  font-weight: 700;
  border-radius: 12px;
  background-color: white;
}

.form-control input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.form-control label {
  width: 90%;
}
